:root {
            --embedded-background-color: white;
            --simulator-help-color: #6DAA1E;
            --simulator-inner-circle-color: #008BC0;
            --simulator-outer-circle-color: #ff0000;
            --simulator-round-icon-color: #6DAA1E;
    }
